/* -- FORM --*/
.form-inline>.col-sm-12 {
  margin: 10px auto;
}
/* -- CAR STALL -- */
.stall {
  margin-top 20px;
  border: 2px solid #515150;
  border-radius: 4px;
  padding: 10px;;
}
.carImg {
  max-width: 90%;
}
/* --  BUTTON -- */
.btn-default {
  background-color: #515150;
  color: #fff;
  margin-top: 10px;
}
.btn_delete {
  background-color: #d9534f;
  color: #fff;
}
  .btn_delete:hover, .btn_delete:active, .btn_delete:focus, .btn_delete:active:hover, .btn_delete:focus:active {
    background-color: #d9534f;
    color: #515150;
  }
